/* RESET */

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/quicksand.woff2') format('woff2');
}

body {
  margin: 0;
  color: #899BA6;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background: #3C4C55;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  box-shadow: none;
  border-color: none;
  outline: none;
  z-index: 1;
}

::selection {
  background: #7FC1CA;
  color: #1E272C;
}

input::placeholder {
  color: #1E272C;
}

a, button, input {
  transition: opacity 0.2s;
}

a:hover, a:focus,
button:hover, button:focus, 
input:hover, input:focus {
  opacity: 0.5;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}


/* COMPONENTS */

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  display: inline-block;
  background: #7FC1CA;
  color: #1E272C;
  border: 0;
  padding: 20px;
  border-radius: 7px;
  font-size: 20px;
  min-width: 200px;
}
