/* RESET */

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/quicksand.woff2') format('woff2');
}

body {
  margin: 0;
  color: #899BA6;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background: #3C4C55;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  box-shadow: none;
  border-color: none;
  outline: none;
  z-index: 1;
}

::selection {
  background: #7FC1CA;
  color: #1E272C;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  width: 100%;
  padding: 9px;
  background: #556873;
  color: #E6EEF3;
  border-radius: 7px;
  border: 2px solid transparent;
  transition: border 0.2s;
}

input::placeholder {
  color: #1E272C;
}

button {
  display: inline-block;
  background: #7FC1CA;
  color: #1E272C;
  border: 0;
  padding: 20px;
  border-radius: 7px;
  font-size: 20px;
  min-width: 200px;
}

a, button {
  transition: opacity 0.2s;
}

a:hover, a:focus,
button:hover, button:focus {
  opacity: 0.5;
  cursor: pointer;
}

input:hover, input:focus {
  border: 2px solid #7FC1CA;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}


/* COMPONENTS */

#root {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#minutes {
  text-align: center;
  margin-bottom: 30px;
}

#minutes__input {
  font-size: 60px;
  color: #7FC1CA;
  max-width: 200px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1;
}

#minutes__label {
  font-size: 20px;
}

#timer {
  text-align: center;
  margin-bottom: 30px;
}

#timer__value {
  border: 4px solid transparent;
  font-size: 60px;
  padding: 10px;
  color: #7FC1CA;
  margin-bottom: 10px;
  line-height: 1;
}

#timer__label {
  font-size: 20px;
}
